{% extends 'registration/base.html' %}


{% block title %}Create an account{% endblock %}


{% block form %}
    <div>
{% if user.is_anonymous %}


<form class="form-signin" method="post" action="{% url 'register' %}">

  <input type="hidden" name="next" value="">
  <img class="mb-4" src="/logo.svg" alt="" width="72" height="72">

    {% csrf_token %}

    <h1 class="h3 mb-3 font-weight-normal">Создать аккаунт</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email"
         value="" required="" autofocus="" data-cip-id="inputEmail">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль"
         name="password" required="" data-cip-id="inputPassword">
    <input type="password" id="inputPassword" class="form-control" placeholder="Повторите пароль"
         name="password2" required="" data-cip-id="inputPassword">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button>
</form>
    {% else %}
    <p class="text-success">{{ user|upper}}, Вы уже зарегистрированы. <br> <a href="{{ '/' }}">Перейти на главную</a></p>
    {% endif %}
    <p class="mt-5 mb-3 text-muted">© Просто магазин 2020</p>
</div>
{% endblock %}