{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body class="" data-gr-c-s-loaded="true">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="./index.html">Просто магазин</a>
  <img src="{% static 'logo.svg' %}" alt="" width="42" height="42">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./index.html">
          Главная</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Гаджеты</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">

          <a class="dropdown-item" href="./smartphones.html">
            Сматрфоны</a>

        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="./empty_section.html">
          Аксесcуары</a>
      </li>


    </ul>
    <a class="btn btn-outline-success my-2 my-sm-0" role="button"
       href="./cart.html">
      Корзина</a>


    <a class="btn btn-outline-success my-2 my-sm-0" role="button"
       href="./login.html">
      Войти</a>

  </div>
</nav>


<main role="main">
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</main>



<hr>
{% include 'footer.html' %}

<script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>