{% extends 'catalog/catalog.html' %}
{% block title %}
    {{ category.name }}
{% endblock %}
{% block catalog %}
    {% if products_list %}
        <h1>{{ category.name }}</h1>
        <div class="row">
        {% for product in page_obj %}
        <div class="col-md-4">
            <h2>{{ product.title }}</h2>
            <a href="{{ product.get_absolute_url}}">
                <img src="{{ product.image.url }}" height="300" alt="{{ product.slug }}">
            </a>


            {% include 'add_to_cart.html' %}



        </div>
    {% endfor %}
    </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; В начало</a>
                    <a href="?page={{ page_obj.previous_page_number }}">назад</a>
                {% endif %}
                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">след.</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">пред. &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <div class="alert alert-dark" role="alert">
            Тут пока ничего нет!
        </div>
    {% endif %}
    <hr>
{% endblock %}